.dashboard {
  display: flex;
  gap: 20px;
  background-color: #202331;
}

.live-stream-card {
  flex: 4;
  padding: 20px;
}

.main-video {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border: 1px solid #333;
}

.side-panel {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.graph-card {
  border: 1px solid #333;
  padding: 10px;
}

.small-video {
  width: 100%;
  height: 120px;
  object-fit: cover;
  margin-top: 10px;
}
